@import "tailwindcss";


body{
    background: #013db5;
    background-image: url('bg5.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
}